
/* ================================== */

  @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
    --bg-color: white;
    --btn-color: #46A094;
    --text-color: #064674;
    --card-color: #AECFA4;
  }
 
  .logo{
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(3, 111, 119);
    font-size: 25px;
    font-weight: bolder;
  }
  .logo:hover{
    color: var(--text-color);
  }
  .navbar-bg{
    background-color: var(--card-color)
  }
  .text-color{
    color: var(--text-color)
  }
.btn-color{
    color: var(--btn-color);
}

/* ========================================= */
main{
  margin-top: 100px;
}
