{% extends "layout.html" %}
{% block content%}
<!-- ======================================================================================= -->
  <div class="content-section  mt-5 ">
    <div class="row p-2">
        <div class="col-lg-4 d-flex justify-content-center align-items-center  border text-white left-side">
            <div class="left-content text-center p-3">
                <h1 class="">Welcome back</h1>
                <h5>Let's edit your profile</h5>
            </div>
        </div>
        <div class="col-lg-8 border right-side ">
            <div class="media d-block justify-content-center align-items-center py-3">
                <div class="pro-image  d-flex justify-content-center  align-items-center p-2">
                    <div class="profile-pic-container  ">
                        <img class=" account-img   text-center" height="100px" width="100px"   src="{{image_file}}" alt="">
                    </div>
                </div>
                <div class="media-body text-center">
                    <h2 class="account-hedding ">{{current_user.username}}</h2>
                    <p class="text-secondary">{{current_user.email}}</p>
                </div>
                   
                <hr class="animated-hr">
                
                <form action="" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account Info</legend>
                        <!-- ========USER NAME ========= -->
                           <div class="form-group">
                            {{ form.username.label(class="form-control-label")}}
            
                            {% if form.username.errors %}
                                {{form.username(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                    {{form.username(class="form-control form-control-lg")}}
                            {% endif %}
                           </div>
                        <!-- ========EMAIL ========= -->
                        <div class="form-group mt-2">
                            {{form.email.label(class="form-control-label")}}
            
                            {%if form.email.errors %}
                            {{form.email(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {%for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {%endfor%}
                            </div>
                            {%else%}
                                {{form.email(class="form-control form-control-lg")}}
                            {%endif%}
                           </div>
                        <!-- ========Profile pic ========= -->
                           <div class="form-group mt-3">
                            {{form.picture.label()}} <br>
                            {{form.picture(class="form-control-file")}}
                            {%if form.picture.errors%}
                                {%for error in form.picture.errors %}
                                    <br><span class="text-danger">{{ error }}</span> <br>
                                {%endfor%}
                            {%endif%}
                           </div>
                        <!-- ======== SUBMIT ========= -->
                           <div class="form-group  my-2">
                            {{form.submit(class="btn btn-outline-info")}}
                           </div>
                    </fieldset>
                </form>
            </div> 
        </div>
    </div>
  </div>
{% endblock content%}


