{% extends "layout.html" %}
{% block content%}
<div class="row g-4 my-3">
    {% for post in posts.items %}
                <div class=" col-md-6 col-lg-4 ">
                    <a class="article-title" href="{{url_for('post', post_id=post.id)}}">
                        <div class="card mb-3 h-100  post-card">
                            <img src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title header-color fw-bold ">{{post.title|truncate(70, True, '') ~ '<strong>...</strong>'| safe}}</h5>
                                {% autoescape false %}
                                <p class="card-text text-dark">{{ post.content|truncate(70, True, '') ~ '<strong><p> Read more...</p></strong>'| safe }}</p>
                                {% endautoescape %}

                                <div class="d-flex post-information mt-4">
                                    <div class="pro-image p-1">
                                        <img class="rounded-circle article-img" src="{{url_for('static', filename='profilePic/' + post.author.image_file)}}" width="40px"  height="40px" alt="">
                                    </div>
                                    <div class="info p-1" >
                                        <a class="me-2 author-name" href="{{url_for('user_posts', username=post.author.username)}}">{{post.author.username}}</a>
                                        <p class="card-text"><small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
    {% endfor%}
</div>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{url_for('blog',page=page_num)}}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{url_for('blog',page=page_num)}}">{{page_num}}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}

{% endblock content%}